body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #00ffa3;
  display: flex;
  flex-direction: column;
}
.button {
  background-color: #00ffa3;
  color: #000000;
}
.button_secondary {
  background-color: #000000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 1rem;
  background-color: #1d1919;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  width: 300px;
}

.movie img {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info a {
  margin: 0;
}

.movie-effect {
  position: absolute;
  background-color: blueviolet;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
}
.movie:hover .movie-effect {
  transform: translateY(0%);
  animation-delay: 5s;
}

.logo {
  width: 120px;
  height: 50px;
  margin: 0;
  left: 500px;
  padding-right: 60%;
}


.search-box {
  color: white !important;
  background-color: transparent;
  border: 2px solid #00ffa3;
  color: #1d1919;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  
  
}

header {
  background-color: #1d1919;
  display: flex;
  padding: 1rem;
}

.root {
  display: flex;
  flex-direction: column;
}

.tag {
  background-color: #1d1919;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.tag.green {
  color: rgb(13, 192, 13);
}

.tag.yellow {
  color: yellow;
}

.tag.red {
  color: red;
}

.title {
  text-decoration: none;
  color: #00ffa3;
}
